<app-header></app-header>
<!-- <app-postlist></app-postlist>
<h1>Hello World</h1>

<h1>My Name is {{ myname }}</h1>

<input type="text" name="language" [(ngModel)] = "language">
<button (click)= "AddLanguage()" >Add</button>

<button (click) = "RemoveLanguage()">Remove</button>
<div>{{ListofLanguages.length}}</div>

<div>
  <h1>List Of Languages are:-</h1>
  <div *ngIf="ListofLanguages.length > 0 ; else elsetemplate">
  <ul *ngFor = "let list of ListofLanguages">
    <li>{{ list }}</li>
  </ul>
  </div>
  <ng-template #elsetemplate>Sorry No Language Found</ng-template>
</div>  -->
<router-outlet></router-outlet>